<!DOCTYPE html>

<html lang="pt-br">

    <head>
		<title>Sobre Nós</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
		
		<!--Tags para seo-->
		<meta name="description" content="Bem Bonita Bordados" />
		<meta name="keyword" content="bem bonita bordados, bbb, bem bonita, bem b bordados, bem bonita b, b bonita b, b b bordados, artesenal" />
		<meta name="author" content="João G. Bortoletto" />
		<!----------------->

		<!--Compatibilidade-->
		<meta http-equiv="X-AU-Compatible" content="IE-Edge" />
		<!------------------->

		<!--Estilização-->
    	<link href="css/style.css" rel="stylesheet">
		<!--------------->

		<!--Fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
		<!--------->

		<!--Externos-->
		
		<!------------>
    </head>

    <body>
        <header>
            <div class="container">
                <a href="#"><div class="logo"></div></a><!--logo-->

                <nav class="menu-desktop">
                    <ul>
                        <li class="nrm"><a class="nrm" href="/">Home</a></li>
                        <li class="nrm"><a class="nrm" href="/sobre-nos">Sobre Nós</a></li>
                        <li class="nrm"><a class="nrm" href="/contato">Contato</a></li>
                        <li class="nrm"><a class="nrm" href="/produtos">Produtos</a></li>
                    </ul><!--ul-->
                </nav><!--menu-desktop-->

                <div class="botao" id="botao">
                    <button class="btn-menu">Menu
                        <span id="hamburguer"></span>
                    </button>
                </div><!--botao-->

                <nav class="menu-mobile">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sobre-nos">Sobre Nós</a></li>
                        <li><a href="/contato">Contato</a></li>
                        <li><a href="/produtos">Produtos</a></li>
                    </ul><!--ul-->
                </nav><!--menu-mobile-->

                <div class="clear"></div><!--clear-->

                <div class="line"></div><!--line-->
            </div><!--container-->
        </header><!--header-->

        <section class="equipe">
            <div class="title">
                <h2>Nossa Equipe</h2>
            </div><!--title-->

            <div class="container">
                <div class="box-single">
                    <div class="box-single-wraper">
                        <a href="#"><div style="background-image: url('images/user.png'); padding-top: 75px; width: 25%; margin: 5px auto;" class="img"></div></a>

                        <div class="wraper-info">
                            <div class="nome-destaque">
                                <p style="font-size: 18px; padding: 0;"><b>João Guilherme Bortoletto</b></p>
                                <p style="font-size: 16px;  padding: 0;">Desenvolvedor / CEO</p>
                            </div><!--nome-destaque-->
    
                            <div class="info-destaque">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!--info-destaque-->
                        </div><!--wraper-info-->
                    </div><!--box-single-wraper-->
                </div><!--box-single-->

                <div class="box-single">
                    <div class="box-single-wraper">
                        <a href="#"><div style="background-image: url('images/user.png'); padding-top: 75px; width: 25%; margin: 5px auto;" class="img"></div></a>

                        <div class="wraper-info">
                            <div class="nome-destaque">
                                <p style="font-size: 18px; padding: 0;"><b>João Guilherme Bortoletto</b></p>
                                <p style="font-size: 16px;  padding: 0;">Desenvolvedor / CEO</p>
                            </div><!--nome-destaque-->
    
                            <div class="info-destaque">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!--info-destaque-->
                        </div><!--wraper-info-->
                    </div><!--box-single-wraper-->
                </div><!--box-single-->

                <div class="box-single">
                    <div class="box-single-wraper">
                        <a href="#"><div style="background-image: url('images/user.png'); padding-top: 75px; width: 25%; margin: 5px auto;" class="img"></div></a>

                        <div class="wraper-info">
                            <div class="nome-destaque">
                                <p style="font-size: 18px; padding: 0;"><b>João Guilherme Bortoletto</b></p>
                                <p style="font-size: 16px;  padding: 0;">Desenvolvedor / CEO</p>
                            </div><!--nome-destaque-->
    
                            <div class="info-destaque">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!--info-destaque-->
                        </div><!--wraper-info-->
                    </div><!--box-single-wraper-->
                </div><!--box-single-->
            </div><!--container-->
        </section><!--equipe-->

        <section class="empresa">
            <div class="title">
                <h2>Sobre a Empresa</h2>
            </div><!--title-->

            <div class="container">
                <div class="imagem-empresa">
                    <div class="imagem-empresa-wraper"></div><!--imagem-empresa-wraper-->
                </div><!--imagem-empresa-->

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis nibh a turpis aliquet, sit amet facilisis turpis egestas. Nulla facilisi. Morbi non eros tristique, efficitur eros at, ullamcorper ipsum. Sed vulputate elementum condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis quis varius nulla. Morbi faucibus imperdiet sem non convallis. Phasellus lacinia velit vulputate risus sollicitudin, pretium pharetra massa semper. Nullam elit justo, dapibus vestibulum odio sit amet, tincidunt suscipit odio. Nam porttitor mauris tristique, sagittis felis et, malesuada elit. Aenean nec malesuada nisi, at tincidunt magna. Nunc id lectus eget augue facilisis commodo. Aenean ultrices eget diam varius dapibus. Nam non varius nibh.</p>
            </div><!--container-->
        </section><!--contato-->

        <footer class="baixo">
            <div class="container">
                <div class="line"></div><!--line-->

                <p>Todos os direitos reservados.</p>
            </div><!--container-->
        </footer>
		
		<script src="js/scripts.js"></script>
    </body>
</html>